@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.box {
  display: inline-block;
  margin: 0 auto;
  padding: 30px;
  background-color: #c95eff;
  opacity: 50%;
  border-radius: 4px;
  text-align: right;
}

.container {
  text-align: center;
  
}
h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Lilita One', cursive;
  font-weight: 300;
}

#inp {
  border: 0;
  border-radius: 4px;
  padding: 5px;
  border: none;
  outline: none;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.btn {
  margin-top: 20px;
  padding: 6px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: 'Lilita One', cursive;
  font-weight: 200;
}